html{
    background-color: aliceblue;
}

#title {
    color: brown;
    text-align: center;
    font-weight: bolder;
}

.p-font{
    font-family: "Gowun Dodum", sans-serif;
}

.radio-label{
    display: flex;
    /* 레이블 가로 정렬 */
}

.radio-label2{
    display: flex;
    ;
}

#dropdown {
    margin-left: 10px;
}

#input-box{
    width: 400px;
    height: 200px;
}

.square-box {
    border: 2px solid black; /* 네모 박스를 만드는 테두리 */
    padding: 20px; /* 박스 내부 여백 */
    width: 100%; /* 박스의 너비 */
    max-width: 800px; /* 박스의 최대 너비 */
    margin: 20px auto; /* 박스의 상하 여백 및 중앙 정렬 */
    background-color: #f5c5dd; /* 박스 배경 색상 */
    border-radius: 10px; /* 박스 모서리를 둥글게 */
}

div {
    color: blue;
    font-size: 20px;
    font-weight: bolder;
}

footer {
    border-radius: 15px; /* 둥글기 정도 */
    background-color: #ffae00; /* 배경색 */
    width: 100%; /* 내용에 맞게 너비 조정 */
    text-align: left; /* 텍스트 가운데 정렬 */
    font-family: "Gowun Dodum", sans-serif;
}